header {
  z-index: 4;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 768px) {
    height: 60px;
  }

  .header-container {
    width: 90%;
    margin-right: 380px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1340px) {
      margin-right: 360px;
    }
    @media (max-width: 1200px) {
      display: none;
    }
    .img1 {
      width: 64px;
    }
    .header-text {
      display: flex;
      align-items: center;
      ul {
        display: flex;
        align-items: center;
        li {
          font-size: 15px;
          margin: 0 14px;
          color: #fff;
          list-style: none;
          font-weight: 600;
          cursor: pointer;
          padding: 4px 0;
          &:hover {
            color: #d6d6d6;
            border-bottom: 2px solid #bc0808;
          }
        }
      }
    }
    .btns {
      display: flex;
      align-items: center;
      margin-right: 20px;
      .lang-wrap {
        width: 36px;
        height: 36px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 8px;
        img {
          width: 28px;
          height: 28px;
        }
        cursor: pointer;
        &:hover {
          background: #e7e7e7;
        }
        &.active {
          background: #e7e7e7;
        }
      }
    }
  }
}

.router-link-active {
  color: #bc0808;
  border-bottom: 2px solid #bc0808;
}

.header-container-mobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4444;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: #282c33;
  transition: 0.15s ease-out;
  padding-top: 1rem;
  @media (max-width: 1200px) {
    display: block;
  }
  .close {
    position: absolute;
    right: 20px;
    width: 28px;
  }
  .header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      padding: 0;
      padding-left: 15px;
      li {
        font-size: 15px;
        margin: 8px 18px;
        color: #fff;
        list-style: none;
        font-weight: 500;
        cursor: pointer;
        padding: 4px 0;
      }
    }
  }

  .btns {
    margin-left: 20px;
    .lang-wrap {
      width: 36px;
      height: 36px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 8px;
      img {
        width: 28px;
        height: 28px;
      }
      cursor: pointer;
      &:hover {
        background: #e7e7e7;
      }
      &.active {
        background: #e7e7e7;
      }
    }
  }
}

.mobile-header {
  padding: 0 12px;
  display: none;
  width: 100%;
  z-index: 3333;
  @media (max-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .img2 {
    width: 48px;
  }
  .burger {
    right: 0;
    padding: 6px;
    border-radius: 4px;
    z-index: 5555;
  }
}
