<footer>
  <div class="footer-wrapper">
    <div class="social-media">
      <div class="wp">
        <a
          href="https://api.whatsapp.com/message/7UXF5M3RBNA3B1?autoload=1&app_absent=0"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="../../../assets/whatsapp.svg" alt=""
        /></a>
      </div>
      <div class="wp">
        <a
          href="https://www.facebook.com/Meta-Group-103977615502117/"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="../assets/Icon awesome-facebook.svg" alt=""
        /></a>
      </div>
      <div class="wp">
        <a
          href="https://www.instagram.com/metagroup_/"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="../assets/Icon awesome-instagram.svg" alt=""
        /></a>
      </div>
      <div class="wp">
        <a
          href="https://www.youtube.com/channel/UCCNCVP7BvdOhRx5r_py6lHw/videos"
          target="_blank"
          rel="noopener noreferrer"
          ><img style="height: 24px" src="../assets/yotube.svg" alt=""
        /></a>
      </div>
    </div>
  </div>
  <div class="bottom">Copyright © 2022 | Butterfly Effect</div>
</footer>
