footer {
  background: #1f1f1f;
  margin-top: 8rem;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-wrapper {
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 4rem 0;
  margin: 0 auto;
  @media (max-width: 1040px) {
    width: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .details-wrapper {
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @media (max-width: 1040px) {
      margin: 2rem auto;
      width: 96%;
    }
    .footer-details {
      color: white;
      display: flex;
      align-items: center;
      margin: 0 10px;
      font-size: 14px;
      width: 220px;
      @media (max-width: 740px) {
        width: 90%;
      }
    }
  }
  .social-media {
    img {
      margin: 0 12px;
      cursor: pointer;
      transition: 0.15s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.bottom {
  width: 100%;
  background: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
}
