.wrapper-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 4rem auto;
  @media (max-width: 1640px) {
    width: 90%;
  }
  @media (max-width: 1140px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
  }
  h1 {
    color: #fff;
    font-size: 36px;
    margin: 0;
    font-weight: bold;
    @media (max-width: 1140px) {
      font-size: 32px;
    }
  }
}

.wrapper-4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6rem auto;
  width: 80%;
  @media (max-width: 1640px) {
    width: 90%;
  }
  @media (max-width: 1140px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .box-left,
  .box-right {
    width: 46%;
    height: 270px;
    // box-shadow: rgba(180, 187, 194, 0.2) 0px 8px 24px;
    border-radius: 8px;
    background: #383c46;
    padding-left: 24px;
    padding-top: 24px;
    margin: 1rem auto;
    @media (max-width: 1140px) {
      width: 96%;
    }
  }
  .prices {
    margin-top: 2rem;
    color: #d0d0d0;
  }

  span {
    padding: 4px 8px;
    border-radius: 4px;
    background: #2e333c;
  }

  .flight {
    display: flex;
    margin-top: 2rem;
    margin-right: 2rem;
    .info {
      margin-left: 1rem;
      color: #fff;
    }
    .some-flex {
      display: flex;
      align-items: center;
      p {
        margin-left: 8px;
        color: #d0d0d0;
      }
    }
  }

  .vert-line {
    height: 72px;
    width: 4px;
    background: #d0d0d0;
  }
}

.more {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  font-size: 14px;
  color: #d0d0d0;
  cursor: pointer;
  &:hover {
    color: #bc0808;
  }
}

.right-bar {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
}