<app-header></app-header>
<div *ngIf="!userId"><app-signin></app-signin></div>
<div *ngIf="userId">
  <div class="wrapper">
    <a [routerLink]="['/']">
      <img class="img1" src="/assets/metagroup.svg" alt="" />
    </a>

    <div>
      <p style="text-align: center">{{ userName }}</p>
      <button [routerLink]="['/signin']">
        {{ "Daxil olun" | translate }}
      </button>
      <button [routerLink]="['/signup']" style="background: #373c47">
        {{ "Qeydiyyat" | translate }}
      </button>
    </div>
    <span class="wpwp">
      <div class="wp">
        <a
          href="https://api.whatsapp.com/message/7UXF5M3RBNA3B1?autoload=1&app_absent=0"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="../../../assets/whatsapp.svg" alt=""
        /></a>
      </div>
      <div class="wp">
        <a
          href="https://www.facebook.com/Meta-Group-103977615502117/"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="../assets/Icon awesome-facebook.svg" alt=""
        /></a>
      </div>
      <div class="wp">
        <a
          href="https://www.instagram.com/metagroup_/"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="../assets/Icon awesome-instagram.svg" alt=""
        /></a>
      </div>
      <div class="wp">
        <a
          href="https://www.youtube.com/channel/UCCNCVP7BvdOhRx5r_py6lHw/videos"
          target="_blank"
          rel="noopener noreferrer"
          ><img style="height: 24px" src="../assets/yotube.svg" alt=""
        /></a>
      </div>
    </span>
  </div>
</div>

<div class="wrapper-mother">
  <div class="wrapper-home">
    <div class="text">
      <div class="line"></div>
      <h1>{{ "Hakkimizda" | translate }}</h1>
      <p style="color: #d0d0d0">
        {{ "about" | translate }}
      </p>
    </div>
    <!-- <img class="illustration" src="/assets/delivery.svg" alt="" /> -->
  </div>
  <app-custom></app-custom>

  <div class="wrapper-3">
    <h2>Brands <span style="color: #bc0808">We</span> Work With</h2>
    <p-progressSpinner *ngIf="isLoading"></p-progressSpinner>
    <div class="brands">
      <div class="box" *ngFor="let b of brands">
        <a target="_blank" href="{{ b.item.url }}"
          ><img src="{{ b.item.imageURL }}" alt=""
        /></a>
      </div>
    </div>
  </div>

  <div class="wrapper-4">
    <div class="box-left">
      <div class="line"></div>
      <h3>Tarifs</h3>
      <div class="prices" *ngFor="let item of tarifs">
        <p>
          {{ item.kg }} Kg -
          <span style="color: #d0d0d0"> ${{ item.price }}</span>
        </p>
      </div>
    </div>
    <div class="box-right">
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
        "
      >
        <div>
          <div class="line"></div>
          <h3>Flights</h3>
        </div>
        <div [routerLink]="['/flights-view']" class="more">
          <p>View All</p>
          <i style="margin-left: 8px" class="pi pi-arrow-right"></i>
        </div>
      </div>
      <div style="display: flex">
        <div class="flight" *ngFor="let item of flights">
          <div class="vert-line"></div>
          <div class="info">
            <p style="font-weight: 500; margin: 0">{{ item.code }}</p>
            <div class="some-flex">
              <img src="/assets/calendar.svg" alt="" />
              <p>{{ item.date }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
