<app-sidebar></app-sidebar>

<div class="table-wrapper">
  <div class="table-header">
    <h2>საწყობი</h2>
  </div>
  <table>
    <thead>
      <tr>
        <td>#</td>
        <td>თრექინგი</td>
        <td>წონა</td>
        <td>მაღაზია</td>
        <td>თანხა</td>
        <td>ვალუტა</td>
        <td>გატანა</td>
        <td>მოქმედება</td>
        <td>ინვოისი</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>157583</td>
        <td>73300026450986755</td>
        <td>0.55 kg</td>
        <td>Trendyol.com</td>
        <td>189.95</td>
        <td>TRY</td>
        <td>
          <select name="" id="curier">
            <option value="">აირჩიეთ გატანა</option>
            <option value="">მსურს კურიერი</option>
            <option value="">გავიტან ოფისიდან</option>
          </select>
        </td>
        <td>
          <button [routerLink]="['/declaration']" class="decl">
            დეკლარირება
          </button>
        </td>
        <td><button class="invoice">ინვოისი</button></td>
      </tr>
    </tbody>
  </table>
</div>
