<app-header></app-header>
<app-signin></app-signin>
<div class="wrapper-mother">
  <div class="main-wrap">
    <div class="wrap">
      <div class="line"></div>
      <h1>{{ "prohibited-items" | translate }}</h1>
      <p style="margin-top: 20px">
        {{ "prohibited-desc" | translate }}
      </p>
    </div>

    <div class="wrapper-2">
      <div class="box" *ngFor="let i of items">
        <div class="icon-wrap">
          <img src="/assets/no.svg" alt="" />
        </div>
        <div class="box-text">
          <p>{{ i | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
