.wrap {
  margin: 8rem auto;
  width: 80%;
  @media (max-width: 1140px) {
    width: 90%;
    margin: 4rem auto;
  }
  h1 {
    font-size: 48px;
    margin: 0;
  }
  p {
    width: 50%;
    color: #d0d0d0;
    @media (max-width: 1140px) {
      width: 90%;
    }
  }
}

.l {
  stroke: #fe8a00;
  text-align: center;
}
