div {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

button {
  margin-top: 10px;
}
input {
  width: 400px;
  height: 36px;
  border-radius: 6px;
  padding-left: 10px;
  margin-top: 6px;
  border: 1px solid #e7e7e7;
  @media (max-width: 1000px) {
    width: 300px;
  }
}

select {
  width: 400px;
  height: 36px;
  border-radius: 6px;
  padding-left: 10px;
  border: 1px solid #e7e7e7;
  margin-top: 6px;
  @media (max-width: 1440px) {
    width: 360px;
  }
  @media (max-width: 1000px) {
    width: 300px;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 9px;
  margin-top: 10px;
  font-size: 14px;
  thead {
    td {
      color: #484c5f;
      font-weight: 600;
    }
  }
}

th {
  color: #d5dde5;
  text-align: left;
  vertical-align: middle;
}
tr {
  border: 1px solid #8b8ea0;
  color: #666b85;
  padding: 24px;
}

td {
  padding: 8px;
  border-right: 1px solid #8b8ea0;
  #curier {
    border-radius: 4px;
    padding: 4px 0;
    color: #666b85;
    option {
      padding: 6px;
      color: #666b85;
    }
  }
  .decl,
  .invoice {
    width: 120px;
    padding: 0 2px;
    height: 30px;
    border-radius: 4px;
    color: white;
  }
  .decl {
    background: #fe8a00;
  }
  .invoice {
    background: #ff4423;
  }
}
