.admin-dashboard {
  display: block;
  @media (max-width: 840px) {
    display: none;
  }
}

div {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

h2 {
  margin: 0;
}

form {
  display: flex;
  align-items: flex-end;
}
label {
  color: #fff;
}

input,
select {
  width: 300px;
  height: 36px;
  border-radius: 6px;
  padding-left: 10px;
  margin-top: 6px;
  border: 1px solid #6c757d;
  color: #d0d0d0;
  background: #383c46;

  @media (max-width: 1440px) {
    width: 240px;
  }
  @media (max-width: 1000px) {
    width: 200px;
  }
}

.filter {
  width: 64px;
  height: 36px;
  margin-left: 6px;
}
