div {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

h2 {
  margin: 0;
}

form {
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}

input,
select {
  width: 400px;
  height: 36px;
  border-radius: 6px;
  padding-left: 10px;
  margin-top: 6px;
  border: 1px solid #e7e7e7;
  @media (max-width: 1440px) {
    width: 360px;
  }
  @media (max-width: 1000px) {
    width: 300px;
  }
}

.delete {
  background: #363636;
  height: 30px;
}
