<app-sidebar></app-sidebar>
<div class="loader" *ngIf="isLoading"></div>

<div class="admin-dashboard">
  <h2>Orders Controller</h2>
  <!-- <mat-spinner></mat-spinner> -->
  <form (ngSubmit)="onCreateOrder()" [formGroup]="form">
    <div>
      <label for="val">Personal ID</label>
      <input id="val" type="text" formControlName="personalId" />
    </div>
    <div>
      <label for="val">Tracking ID</label>
      <input id="val" type="text" formControlName="trackingId" />
    </div>

    <button type="submit">Create Order</button>
  </form>
  <div>
    <table>
      <thead>
        <tr>
          <td>#</td>
          <td>თრექინგი</td>
          <td>წონა</td>
          <td>თანხა</td>
          <td>მაღაზია</td>
          <td>ვალუტა</td>
          <td>გატანა</td>
          <td>სტატუსი</td>
          <td>მოქმედება</td>
          <td>ინვოისი</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let o of orders">
          <td>{{ o.uniqueIdentifier }}</td>
          <td>{{ o.trackingId }}</td>
          <td>{{ o.height }}</td>
          <td>{{ o.paidAmount }}</td>
          <td>
            <select
              style="width: 120px; height: 28px"
              id="curier"
              [(ngModel)]="o.declaration.partner.id"
            >
              <option *ngFor="let p of partners" [value]="p.id">
                {{ p.item.name }}
              </option>
            </select>
          </td>

          <td>
            <select
              style="width: 80px; height: 28px"
              id="curier"
              [(ngModel)]="o.declaration.currency.id"
            >
              <option *ngFor="let i of currencies" [value]="i.id">
                {{ i.value }}
              </option>
            </select>
          </td>
          <td>
            <select
              style="width: 120px; height: 28px"
              [(ngModel)]="o.deliveryType.id"
              id="curier"
              (change)="onUpdateDelivery($event, o.id)"
            >
              <option *ngFor="let i of deliveries" [value]="i.id">
                {{ i.item.name }}
              </option>
            </select>
          </td>

          <td>
            <select
              style="width: 120px; height: 28px"
              id="curier"
              [(ngModel)]="o.status.id"
              (change)="onStatusChange($event, o.id)"
            >
              <option [value]="null">Select Country</option>
              <option *ngFor="let s of statuses" [value]="s.id">
                {{ s.item.name }}
              </option>
            </select>
          </td>
          <td>
            <button [routerLink]="['/declaration', o.id]" class="decl">
              დეკლარირება
            </button>
          </td>
          <td>
            <button [routerLink]="['/invoice', o.id]" class="invoice">
              ინვოისი
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
