form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  .wrap {
    display: flex;
    width: 49%;
    flex-wrap: wrap;
  }
  .decl-form {
    margin: 8px;
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 4px;
    }
  }
  textarea {
    border: 1px solid #f0f0f0;
    background: #f1f3f5d7;
    border-radius: 6px;
    padding: 10px;
  }
  button {
    width: 200px;
  }
}
