<app-sidebar></app-sidebar>

<div class="table-wrapper">
  <div class="table-header">
    <h2>ამანათის განახლება</h2>
  </div>
  <form>
    <div class="decl-form">
      <label for="a">თრექინგი</label>
      <input id="a" type="text" placeholder="726001100463509" />
    </div>
    <div class="decl-form">
      <label for="a">ნივთის დასახელება</label>
      <select name="" id="a">
        <option value="ტანსაცმელი">ტანსაცმელი</option>
      </select>
    </div>
    <div class="decl-form">
      <label for="a">მაღაზია სადაც შეიძნეთ</label>
      <select name="" id="a">
        <option value="Trendyol.com">Trendyol.com</option>
      </select>
    </div>
    <div class="wrap">
      <div class="decl-form">
        <label for="a">ფასი</label>
        <input id="a" type="text" placeholder="189.95" />
      </div>
      <div class="decl-form">
        <label for="a">ვალუტა</label>
        <select name="" id="a">
          <option value="">TRY</option>
          <option value="">GEL</option>
          <option value="">EUR</option>
          <option value="">USD</option>
        </select>
      </div>
    </div>
    <div style="width: 100%" class="decl-form">
      <label for="a">კომენტარი</label>
      <textarea name="" id="a" cols="30" rows="10"></textarea>
    </div>
    <button>განახლება</button>
  </form>
</div>
