<app-sidebar></app-sidebar>

<div class="table-wrapper">
  <div class="table-header">
    <h2>ამანათის განახლება</h2>
  </div>
  <form [formGroup]="form" (ngSubmit)="createDeclaration()">
    <div class="decl-form">
      <label>თრექინგი</label>
      <input
        type="text"
        formControlName="trackingId"
        [value]="trackId"
        readonly
      />
    </div>
    <div class="decl-form">
      <label>{{ "add-info" | translate }}</label>
      <input
        type="text"
        formControlName="turkishCargo"
        [value]="turkCargo"
        [readonly]="user !== 'admin'"
      />
    </div>
    <div class="decl-form">
      <label for="a">ნივთის დასახელება</label>
      <select formControlName="productNameId">
        <!-- <option [value]="null">აირჩიე</option> -->
        <option *ngFor="let p of products" [value]="p.id">
          {{ p.item.name }}
        </option>
      </select>
    </div>
    <div class="decl-form">
      <label>მაღაზია სადაც შეიძნეთ</label>
      <select formControlName="partnerId">
        <!-- <option [value]="null">აირჩიე</option> -->
        <option *ngFor="let p of partners" [value]="p.id">
          {{ p.item.name }}
        </option>
      </select>
    </div>
    <div class="wrap">
      <div class="decl-form">
        <label for="a">ფასი</label>
        <input
          style="width: 190px"
          id="a"
          type="text"
          formControlName="paidAmount"
        />
      </div>
      <div class="decl-form">
        <label for="a">ვალუტა</label>
        <select
          style="width: 190px"
          name=""
          id="a"
          formControlName="currencyId"
        >
          <option *ngFor="let c of currencies" [value]="c.id">
            {{ c.value }}
          </option>
        </select>
      </div>
    </div>
    <div style="width: 100%" class="decl-form">
      <label for="a">კომენტარი</label>
      <textarea
        name=""
        id="a"
        cols="20"
        rows="5"
        formControlName="comment"
      ></textarea>
    </div>
    <!-- [ngStyle]="{ display: ifPaidAmount ? 'none' : '' }" -->
    <button
      [disabled]="!form.valid"
      style="margin-left: 8px"
      [style.background-color]="success ? '#52b788' : ''"
    >
      {{ success ? "განახლებულია" : "განახლება" }}
      <div class="lds-ring" *ngIf="isLoading"></div>
    </button>
  </form>
</div>
