<app-header></app-header>
<div class="flights-box">
  <div class="line"></div>
  <h3>Flights</h3>
  <div style="display: flex; flex-wrap: wrap">
    <div class="flight" *ngFor="let item of flights">
      <div class="vert-line"></div>
      <div class="info">
        <p style="font-weight: 500; margin: 0">{{ item.code }}</p>
        <div class="some-flex">
          <img src="/assets/calendar.svg" alt="" />
          <p>{{ item.date }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->
