div {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

button {
  margin-top: 10px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 400px;
  height: 36px;
  border-radius: 6px;
  padding-left: 10px;
  margin-top: 6px;
  @media (max-width: 1000px) {
    width: 300px;
  }
}

.created-partners {
  margin-left: 120px;
}

.delete-a {
  position: absolute;
  top: -15px;
  right: -4px;
  background: #dcdcdc;
  padding: 3px;
  border-radius: 9px;
  cursor: pointer;
}

p {
  color: #fff;
}
