.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4rem auto;
  width: 80%;
  @media (max-width: 1140px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 94%;
    margin: 2rem auto;
  }
  h1 {
    color: #131313;
    font-size: 54px;
    line-height: 40px;
    font-weight: bold;
    @media (max-width: 1140px) {
      font-size: 40px;
    }
  }
  p {
    color: #505050;
    width: 80%;
    @media (max-width: 640px) {
      width: 94%;
    }
  }

  .illustration {
    @media (max-width: 1140px) {
      width: 500px;
      margin: 3rem auto;
    }
    @media (max-width: 640px) {
      width: 360px;
    }
  }
}
