<app-header></app-header>

<div class="wrapper">
  <div class="text">
    <div class="line"></div>
    <h1>Hakkimizda</h1>
    <p>
      Lorem Ipsum has been the industry's standard dummy text ever since the
      1500s, when an unknown printer took a galley of type and scrambled it to
      make a type specimen book. It has survived not only five centuries, but
      also the leap into electronic typesetting, remaining essentially
      unchanged.
    </p>
  </div>
  <img src="/assets/del2.svg" alt="" />
</div>

<app-custom></app-custom>

<app-footer></app-footer>
