.forgot-wrapper {
  background: #383c46;
  border-radius: 12px;
  width: 420px;
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  width: 200px;
  margin-top: 10px;
}
