.forgot-wrapper {
  background: #383c46;
  border-radius: 12px;
  width: 420px;
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  div {
    margin: 12px auto;
    input {
      width: 350px;
    }
  }
}

button {
  width: 300px;
  margin-top: 10px;
}

span {
  color: #fd7b7b;
  margin-bottom: 10px;
  font-size: 14px;
}