<app-header></app-header>
<div class="forgot-wrapper" >
 <form #form="ngForm" (ngSubmit)="continue(form)">
  <div>
    <label>E-mail</label>
    <input type="text" required [(ngModel)]="email" />
  </div>
  <div>
    <label>New Password</label>
    <input type="text" required [(ngModel)]="newPassword" minlength="3" #pass="ngModel" />
    <span *ngIf="pass.errors && form.submitted && !isValidFormSubmitted">
      <small *ngIf="pass.errors.minlength">
        Password must be at least 3 characters.
      </small>
    </span>
  </div>
  <button type="submit">Continue</button>
 </form>
</div>
