<app-header></app-header>

<div class="signup-wrapper">
  <form *ngIf="!codeVisible" [formGroup]="form">
    <div class="wrapper-register">
      <!-- <h3>რეგისტრაცია</h3> -->
      <div>
        <label>{{ "name-ka" | translate }}</label>
        <input type="text" formControlName="firstNameKA" pattern="[ა-ჰ ]*" />
        <span
          *ngIf="
            form.controls['firstNameKA'].invalid &&
            (form.controls['firstNameKA'].dirty ||
              form.controls['firstNameKA'].touched)
          "
        >
          <small *ngIf="form.controls['firstNameKA'].errors.required">
            This field is required
          </small>
          <small *ngIf="form.controls['firstNameKA'].errors?.pattern">
            Name must be in Georgian
          </small>
        </span>
      </div>
      <div>
        <label>{{ "surname-ka" | translate }}</label>
        <input type="text" formControlName="lastNameKA" pattern="[ა-ჰ ]*" />
        <span
          *ngIf="
            form.controls['lastNameKA'].invalid &&
            (form.controls['lastNameKA'].dirty ||
              form.controls['lastNameKA'].touched)
          "
        >
          <small *ngIf="form.controls['lastNameKA'].errors?.required">
            This field is required
          </small>
          <small *ngIf="form.controls['lastNameKA'].errors?.pattern">
            Name must be in Georgian
          </small>
        </span>
      </div>
      <div>
        <label>{{ "name-en" | translate }}</label>
        <input type="text" formControlName="firstNameEN" pattern="[a-zA-Z ]*" />
        <span
          *ngIf="
            form.controls['firstNameEN'].invalid &&
            (form.controls['firstNameEN'].dirty ||
              form.controls['firstNameEN'].touched)
          "
        >
          <small *ngIf="form.controls['firstNameEN'].errors?.required">
            This field is required
          </small>
          <small *ngIf="form.controls['firstNameEN'].errors?.pattern">
            Name must be in English
          </small>
        </span>
      </div>
      <div>
        <label>{{ "surname-en" | translate }}</label>
        <input type="text" formControlName="lastNameEN" pattern="[a-zA-Z ]*" />
        <span
          *ngIf="
            form.controls['lastNameEN'].invalid &&
            (form.controls['lastNameEN'].dirty ||
              form.controls['lastNameEN'].touched)
          "
        >
          <small *ngIf="form.controls['lastNameEN'].errors?.required">
            This field is required
          </small>
          <small *ngIf="form.controls['lastNameEN'].errors?.pattern">
            Name must be in English
          </small>
        </span>
      </div>
      <div>
        <label> {{ "phone-number" | translate }}</label>
        <input type="number" formControlName="phoneNumber" />
        <span
          *ngIf="
            form.controls['phoneNumber'].invalid &&
            (form.controls['phoneNumber'].dirty ||
              form.controls['phoneNumber'].touched)
          "
        >
          <small *ngIf="form.controls['phoneNumber'].errors.required">
            This field is required
          </small>
        </span>
      </div>
      <div>
        <label>{{ "whatsapp-number" | translate }}</label>
        <input type="number" formControlName="whatsAppNumber" />
        <span
          *ngIf="
            form.controls['whatsAppNumber'].invalid &&
            (form.controls['whatsAppNumber'].dirty ||
              form.controls['whatsAppNumber'].touched)
          "
        >
          <small *ngIf="form.controls['whatsAppNumber'].errors.required">
            This field is required
          </small>
        </span>
      </div>
      <div>
        <label>{{ "email" | translate }}</label>
        <input type="email" formControlName="email" />
        <span
          *ngIf="
            form.controls['email'].invalid &&
            (form.controls['email'].dirty || form.controls['email'].touched)
          "
        >
          <small *ngIf="form.controls['email'].errors.required">
            This field is required
          </small>
        </span>
      </div>
      <div>
        <label>{{ "personalid" | translate }}</label>
        <input
          type="text"
          formControlName="personalID"
          maxlength="11"
          minlength="11"
          (keydown)="onlyNumbers($event)"
        />
        <span
          *ngIf="
            form.controls['personalID'].invalid &&
            (form.controls['personalID'].dirty ||
              form.controls['personalID'].touched)
          "
        >
          <small *ngIf="form.controls['personalID'].errors.required">
            This field is required
          </small>
        </span>
        <span
        *ngIf="personalID.errors && isValidFormSubmitted != null && !isValidFormSubmitted"
      >
      <small *ngIf="personalID.errors.minlength">ID must be 11 characters.</small>
        
      </span>
       
      </div>
      <div>
        <label>{{ "password" | translate }}</label>
        <input type="password" formControlName="password" minlength="3" />
        <span
          *ngIf="
            form.controls['password'].invalid &&
            (form.controls['password'].dirty ||
              form.controls['password'].touched)
          "
        >
          <small *ngIf="form.controls['password'].errors.required">
            This field is required
          </small>
          
        </span>
        <span *ngIf="password.errors && isValidFormSubmitted != null && !isValidFormSubmitted">
          <small
            
            *ngIf="password.errors.minlength"
          >
            Password must be at least 3 characters.
          </small>
        </span>
      </div>
      <div>
        <label>{{ "repeatpassword" | translate }}</label>
        <input type="password" formControlName="confirmPassword" />
        <!-- <span
          *ngIf="
            form.controls['confirmPassword'].invalid &&
            (form.controls['confirmPassword'].dirty ||
              form.controls['confirmPassword'].touched)
          "
        >
          <small
            style="color: red"
            *ngIf="form.controls['confirmPassword'].errors.required"
          >
          This field is required
          </small>

        </span> -->

        <small *ngIf="form.hasError('notmatched')">
          Passwords must match
        </small>
      </div>
      <div>
        <label> {{ "city-region" | translate }} </label>
        <select formControlName="region">
          <option value="">{{ "city-region" | translate }}</option>
          <option *ngFor="let item of cities" [value]="item.item.name">
            {{ item.item.name }}
          </option>
        </select>
        <span
          *ngIf="
            form.controls['region'].invalid &&
            (form.controls['region'].dirty || form.controls['region'].touched)
          "
        >
          <small *ngIf="form.controls['region'].errors.required">
            This field is required
          </small>
        </span>
      </div>
      <div>
        <label> {{ "address" | translate }}</label>
        <input type="text" formControlName="address" />
        <span
          *ngIf="
            form.controls['address'].invalid &&
            (form.controls['address'].dirty || form.controls['address'].touched)
          "
        >
          <small *ngIf="form.controls['address'].errors.required">
            This field is required
          </small>
        </span>
      </div>
      <span class="check">
        <input
          style="width: 20px"
          type="radio"
          formControlName="isOrg"
          id="o1"
          value="organisation"
        /><label style="margin-left: 4px" for="o1"> იურიდიული პირი</label><br />
        <input
          style="width: 20px; margin-left: 20px"
          type="radio"
          formControlName="isOrg"
          id="o2"
          value="individual"
        /><label style="margin-left: 4px" for="o2"> ფიზიკური პირი</label><br />
      </span>
      <div style="align-items: center">
        <button type="button" (click)="signUp()">
          რეგისტრაცია
          <div style="margin-top: -2px" class="lds-ring" *ngIf="isLoading">
            <div></div>
          </div>
        </button>
        <span *ngIf="errorResponse">
          <span style="font-size: 14px" class="errordiv">{{ errorMsg }}</span>
        </span>
        <!-- <span *ngIf="!form.valid">
          <span style="font-size: 14px" class="errordiv">{{ errorMsg }}</span>
        </span> -->
        
      </div>
    </div>
  </form>
  <div *ngIf="codeVisible" style="text-align: center;">
    <input type="text" [(ngModel)]="ngCode">
    <button (click)="verify()">Verify
      <div style="margin-top: -2px" class="lds-ring" *ngIf="isLoading">
        <div></div>
      </div>
    </button>
    <small>{{errCode}}</small>
  </div>
</div>
