.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: rgba(180, 187, 194, 0.2) 0px 8px 24px;
  border-radius: 12px;
  width: 960px;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media (max-width: 1440px) {
    width: 860px;
    top: 70%;
    padding: 3rem 2rem;
  }

  @media (max-width: 900px) {
    width: 94%;
    top: 70%;
    padding: 1.4rem 1rem;
  }
  div {
    display: flex;
    flex-direction: column;
    margin: 8px;
  }
  label {
    margin-bottom: 6px;
  }
  input,
  select {
    width: 400px;
    height: 36px;
    border-radius: 6px;
    padding-left: 10px;
    border: 1px solid #e7e7e7;
    @media (max-width: 1440px) {
      width: 360px;
    }
    @media (max-width: 1000px) {
      width: 300px;
    }
  }
  select {
    width: 416px;
    height: 40px;
    border-radius: 6px;
    padding-left: 10px;
    @media (max-width: 1440px) {
      width: 376px;
    }
    @media (max-width: 1000px) {
      width: 316px;
    }
  }
  option {
    padding: 4px;
  }
  button {
    width: 200px;
    height: 40px;
    background: #fe8a00;
    border-radius: 6px;
    margin-top: 2rem;
    color: #fff;
    &:disabled {
      background: #adadad;
    }
  }
}

.errordiv {
  margin-top: 10px;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.successdiv {
  margin-top: 10px;
  color: green;
}
