.sidebar {
  position: fixed;
  top: 0; /* Stay at the top */
  left: 0;
  width: 200px;
  height: 100vh;
  background: #282c33;
  border-right: 1px solid #6c757d;
  padding-top: 4rem;
  // box-shadow: rgba(180, 187, 194, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  .account {
    display: flex;
    align-items: center;
    padding: 8px;
    margin: 32px 0;
    border: 1px solid #6c757d;
    border-radius: 16px;
    width: 180px;
    cursor: pointer;
    p {
      color: white;
      margin-left: 7px;
    }
    img {
      height: 40px;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: start;
    margin-top: 20px;
    li {
      padding: 10px 20px;
      border-bottom: 1px solid #6c757d;
      color: #d0d0d0;
      cursor: pointer;
      &:hover {
        background: #bc0808;

        border-bottom: 1px solid #bc0808;
      }
      &.router-link-active {
        background: #bc0808;

        border-bottom: 1px solid #bc0808;
      }
    }
  }
}

.sign-out {
  width: 100px;
  border-radius: 6px;
  height: 40px;
  background: #383c46;
  color: white;
  margin-top: 3rem;
}

.mobile-header {
  padding: 0 12px;
  width: 100%;
  z-index: 14;
  background: #383c46;
  display: none;
  @media (max-width: 940px) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .burger {
    z-index: 15;
    margin: 10px;
  }
}
