<div class="sidebar">
  <img
    src="/assets/logo.svg"
    alt=""
    [routerLink]="['/']"
    style="cursor: pointer"
  />
  <div class="account">
    <img src="/assets/acc.svg" alt="" />
    <p style="margin-left: 8px">Hello, {{ name }}</p>
  </div>
  <ul>
    <li [routerLink]="['/dashboard']" routerLinkActive="router-link-active">
      მთავარი
    </li>
    <li [routerLink]="['/storage']" routerLinkActive="router-link-active">
      საწყობში
    </li>
    <li [routerLink]="['/ontheroad']" routerLinkActive="router-link-active">გზაში</li>
    <li>ჩამოსული</li>
    <li>გაცემული</li>
  </ul>

  <button (click)="logout()" class="sign-out">Sign Out</button>
</div>
