<div class="sidebar">
  <img
    src="/assets/logo.svg"
    alt=""
    [routerLink]="['/']"
    style="cursor: pointer"
  />
  <div class="account">
    <img src="/assets/acc.svg" alt="" />
    <p style="margin-left: 8px">Hello, {{ name }}</p>
  </div>
  <ul>
    <li [routerLink]="['/dashboard']" routerLinkActive="router-link-active">
      მთავარი
    </li>
    <li [routerLink]="['/storage']" routerLinkActive="router-link-active">
      საწყობში
    </li>
    <li [routerLink]="['/ontheroad']" routerLinkActive="router-link-active">გზაში</li>
    <li [routerLink]="['/arrived']" routerLinkActive="router-link-active">ჩამოსული</li>
    <li [routerLink]="['/issued']" routerLinkActive="router-link-active">გაცემული</li>
   <div *ngIf="isAdmin">
    <li [routerLink]="['/partners']" routerLinkActive="router-link-active">
      Partners
    </li>
    <li [routerLink]="['/admin']" routerLinkActive="router-link-active">
      Orders
    </li>
    <li [routerLink]="['/products']" routerLinkActive="router-link-active">
      Products
    </li>
    <li [routerLink]="['/cities']" routerLinkActive="router-link-active">
      Cities
    </li>
    <li [routerLink]="['/currency']" routerLinkActive="router-link-active">
      Currency
    </li>
   </div>
  </ul>

  <button (click)="logout()" class="sign-out">Sign Out</button>
</div>
