<app-header></app-header>
<div *ngIf="!userId"><app-signin></app-signin></div>
<div *ngIf="userId">
  <div class="wrapper">
    <a [routerLink]="['/']">
      <img class="img1" src="/assets/metagroup.svg" alt="" />
    </a>

    <div>
      <p style="text-align: center">{{ userName }}</p>
      <button [routerLink]="['/signin']">
        {{ "Daxil olun" | translate }}
      </button>
      <button [routerLink]="['/signup']" style="background: #373c47">
        {{ "Qeydiyyat" | translate }}
      </button>
    </div>
    <span class="wpwp">
      <div class="wp">
        <a
          href="https://api.whatsapp.com/message/7UXF5M3RBNA3B1?autoload=1&app_absent=0"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="../../../assets/whatsapp.svg" alt=""
        /></a>
      </div>
      <div class="wp">
        <a
          href="https://www.facebook.com/Meta-Group-103977615502117/"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="../assets/Icon awesome-facebook.svg" alt=""
        /></a>
      </div>
      <div class="wp">
        <a
          href="https://www.instagram.com/metagroup_/"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="../assets/Icon awesome-instagram.svg" alt=""
        /></a>
      </div>
      <div class="wp">
        <a
          href="https://www.youtube.com/channel/UCCNCVP7BvdOhRx5r_py6lHw/videos"
          target="_blank"
          rel="noopener noreferrer"
          ><img style="height: 24px" src="../assets/yotube.svg" alt=""
        /></a>
      </div>
    </span>
  </div>
</div>
<div class="wrapper-mother">
  <div class="wrapper-how">
    <div class="text">
      <div class="line"></div>
      <h1>{{ "how-h1" | translate }}</h1>
      <h4>{{ "how-h4" | translate }}</h4>
      <p>
        {{ "order-description-1" | translate }}
      </p>
      <p>
        {{ "order-description-2" | translate }}
      </p>
    </div>
  </div>
</div>

<app-footer></app-footer>
