<app-header></app-header>
<div class="forgot-wrapper">
  <div>
    <label>Phone Number</label>
    <input type="text" [(ngModel)]="forgotPassword" />
  </div>
  <span>{{ errPhone }}</span>
  <div *ngIf="codeVisible">
    <label>Code</label>
    <input type="text" [(ngModel)]="ngCode" />
  </div>
  <span>{{ errCode }}</span>
  <button *ngIf="!codeVisible" (click)="sendCode(forgotPassword)">Send</button>
  <button
    style="background-color: rgb(24, 156, 24)"
    *ngIf="codeVisible"
    (click)="verify()"
  >
    Verify
  </button>
</div>
