.forgot-wrapper {
  background: #383c46;
  border-radius: 12px;
  width: 424px;
  padding: 2rem;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  div {
    margin: 12px auto;
  }
}

button {
  width: 200px;
}
