.forgot-wrapper {
  background: #383c46;
  border-radius: 12px;
  width: 364px;
  padding: 2rem;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // @media (max-width: 640px) {
  //   width: 96%;
  // }
  div {
    margin: 12px auto;
    input {
      width: 300px;
    }
  }
}

span {
  color: #fd7b7b;
  margin-bottom: 10px;
  font-size: 14px;
}

small {
  text-align: end;
  color: rgb(243, 219, 3);
}

button {
  width: 300px;
}
