.download {
  background: rgb(0, 170, 51);
  width: 150px;
}

.filename {
  width: 150px;
  height: 32px;
  border-radius: 8px;
  border: 1px solid #313131;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

button {
  width: 200px;
}
