.download {
  background: rgb(0, 170, 51);
  width: 150px;
}

.filename {
  width: 150px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #ffffff;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  color: #ffffff;
}

button {
  width: 200px;
}
