@import "~@angular/material/theming";

@include mat-core();

$ai-cargo-primary: mat-palette($mat-indigo);
$ai-cargo-accent: mat-palette($mat-pink, A200, A100, A400);

$ai-cargo-warn: mat-palette($mat-red);

$ai-cargo-theme: mat-light-theme(
  (
    color: (
      primary: $ai-cargo-primary,
      accent: $ai-cargo-accent,
      warn: $ai-cargo-warn,
    ),
  )
);

@include angular-material-theme($ai-cargo-theme);

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

html,
body {
  font-family: "Inter";
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #282c33;
}

a {
  text-decoration: none;
  color: #f8f8f8;
  cursor: pointer;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: #fff;
}

select,
input,
textarea {
  outline: none;
  background: none;
  border: 1px solid #6c757d;
  color: white;
  background: #383c46;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

button {
  // width: 200px;
  height: 40px;
  background: #bc0808;
  border-radius: 6px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  width: 40px;
  height: 3px;
  background: #bc0808;
  margin: 1rem 0;
}

.wrapper-mother {
  position: relative;
  margin-right: 380px;
  padding-bottom: 2rem;
  @media (max-width: 1340px) {
    margin-right: 360px;
  }
  @media (max-width: 1200px) {
    margin-right: 0;
    padding-bottom: 0;
    margin-top: 10%;
  }
}

.wrapper-3 {
  text-align: center;
  margin: 8rem auto;
  width: 80%;
  @media (max-width: 1640px) {
    width: 90%;
  }
  @media (max-width: 640px) {
    width: 96%;
    margin: 4rem 0.5rem;
  }
  h2 {
    margin: 2rem auto;
    font-size: 36px;
    @media (max-width: 640px) {
      font-size: 28px;
    }
  }
  .brands {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 20px;
    justify-items: center;
    @media (max-width: 1440px) {
      grid-gap: 10px;
    }
    @media (max-width: 1140px) {
      display: grid;
      grid-template-columns: auto auto auto auto;
    }
    @media (max-width: 640px) {
      display: grid;
      grid-template-columns: auto auto;
      width: 90%;
      margin: 0 auto;
    }
    .box {
      position: relative;
      width: 180px;
      height: 80px;
      padding: 12px;
      background: #383c46;
      display: flex;
      align-items: center;
      justify-content: center;
      // box-shadow: rgba(180, 187, 194, 0.2) 0px 8px 24px;
      border-radius: 8px;
      @media (max-width: 1640px) {
        width: 135px;
        padding: 8px;
      }
      img {
        width: 160px;
        height: 70px;
        object-fit: contain;
        @media (max-width: 1640px) {
          width: 115px;
          height: 50px;
        }
      }
    }
  }
}

.table-wrapper {
  margin-left: 220px;
  margin-top: 60px;
  background: #383c46;
  border-radius: 12px;
  padding: 16px;
  margin-right: 16px;
  // box-shadow: rgba(180, 187, 194, 0.2) 0px 8px 24px;
  @media (max-width: 940px) {
    margin-left: 20px;
    margin-right: 8px;
  }
  .table-header {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    h2 {
      margin: 0;
    }
  }
}

label {
  color: #fff;
}

.button-wrapper {
  position: relative;
  width: 220px;
  text-align: center;
  margin: 10px 0;
}

.button-wrapper span.label {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: 400px;
  border: 2px dotted #bc0808;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 16px;
  @media (max-width: 1440px) {
    width: 360px;
  }
  @media (max-width: 1000px) {
    width: 300px;
  }
}

#upload {
  display: inline-block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 36px;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.admin-dashboard {
  margin-left: 220px;
  margin-top: 60px;
  background: #383c46;
  border-radius: 16px;
  padding: 16px;
  margin-right: 16px;
}

select,
input {
  width: 400px;
  height: 36px;
  border-radius: 6px;
  padding-left: 10px;
  border: 1px solid #6c757d;
  margin-top: 6px;
  color: #fff;
  @media (max-width: 1440px) {
    width: 360px;
  }
  @media (max-width: 1000px) {
    width: 300px;
  }
}

.account-details-wrapper {
  margin-left: 220px;
  margin-top: 4rem;
  margin-bottom: 8rem;
  width: 76%;
  padding: 22px;
  background: #383c46;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // box-shadow: rgba(180, 187, 194, 0.2) 0px 8px 24px;
  border-radius: 8px;
  @media (max-width: 640px) {
    margin-left: 20px;
    width: 94%;
  }
  .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
    .left {
      p {
        margin: 0;
        color: #d0d0d0;
      }
      h4 {
        margin: 0;
        font-weight: 500;
      }
    }
    .copy {
      padding: 8px;
      background: #2e333c;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      font-size: 14px;
      transition: 0.15s ease-out;
      &:hover {
        background: #3a414e;
      }
      &:active {
        background: #26bd6a;
      }
    }
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 26px;
  height: 26px;
  margin: 6px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.flex-p {
  border-bottom: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
}

.delete-p {
  background: #969696;
  padding: 3px;
  cursor: pointer;
  margin-bottom: 4px;
  height: 24px;
  width: 26px;
}

.p-datatable-wrapper {
  font-size: 14px;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 0.6rem;
}

td {
  #curier {
    border-radius: 4px;
    padding: 4px 0;
    color: #d0d0d0;
    option {
      padding: 6px;
      color: #d0d0d0;
    }
  }
  .decl,
  .invoice {
    width: 120px;
    padding: 0 2px;
    height: 30px;
    border-radius: 4px;
    color: white;
    @media (max-width: 1440px) {
      width: 110px;
      font-size: 12px;
    }
  }
  .decl {
    background: #fe8a00;
  }
  .invoice {
    background: #ff4144;
  }
}

.l {
  text-align: center;
  margin-top: 15px;
  color: #d0d0d0;
}

.delete {
  background: #696969;
  height: 30px;
}

button:disabled {
  background-color: #88888848;
  cursor: not-allowed;
}

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  background: #282c33;
  // box-shadow: rgba(180, 187, 194, 0.2) 0px 8px 24px;
  width: 380px;
  height: 100%;
  padding: 3rem 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  z-index: 2222;
  border-left: 1px solid #505050;
  @media (max-width: 1340px) {
    width: 360px;
  }
  @media (max-width: 1200px) {
    width: 100%;
    height: 45%;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: #18171a;
  }
  a {
    text-align: center;
  }
  .img1 {
    width: 120px;
    @media (max-width: 1000px) {
      width: 64px;
    }
  }
  div {
    display: flex;
    flex-direction: column;
    span {
      align-self: flex-end;
      margin-top: 8px;
      color: red;
      font-size: 14px;
    }
  }
  label {
    margin-bottom: 4px;
    font-size: 15px;
  }
  input {
    width: 300px;
    height: 48px;
    border-radius: 4px;
    padding-left: 10px;
    border: 1px solid #6c757d;
    margin: 0;
    background: none;
    color: white;
    @media (max-width: 1200px) {
      height: 36px;
    }
  }
  button {
    width: 300px;
    height: 40px;
    background: #bc0808;
    border-radius: 6px;
    margin-top: 12px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    height: 56px;
    &:hover {
      opacity: 0.8;
    }
    @media (max-width: 1200px) {
      height: 36px;
    }
  }
}

// span {
//   margin-top: 8px;
//   color: red;
//   font-size: 14px;
// }

.wpwp {
  display: flex;
  @media (max-width: 1000px) {
    display: none;
  }
}

.wp {
  display: flex;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: #373c47;
  margin: 0 6px;
  &:hover {
    opacity: 0.8;
  }
}

.p-datatable .p-datatable-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-calendar .p-datepicker {
  width: 360px;
}

.p-datatable .p-datatable-tbody > tr > td {
  background-color: #383c46;
  color: #fff;
  border: 1px solid #6c757d;
}

.p-datatable .p-datatable-thead > tr > th {
  background-color: #383c46;
  color: #d0d0d0;
  border: 1px solid #6c757d;
}

.p-paginator {
  background-color: #383c46;
  color: #d0d0d0;
  border: 1px solid #6c757d;
  @media (max-width: 940px) {
    font-size: 12px;
  }
}
.p-paginator .p-paginator-current {
  color: #d0d0d0;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #2e333c;
  color: #fff;
}

.p-datatable .p-datatable-header {
  border: 1px solid #6c757d;
  background: #383c46;
}

.p-calendar .p-inputtext {
  border: 1px solid #6c757d;
  background: #383c46;
  width: 100px;
}
