.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: rgba(180, 187, 194, 0.2) 0px 8px 24px;
  border-radius: 12px;
  width: 480px;
  padding: 3rem 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media (max-width: 1000px) {
    width: 320px;
    padding: 2rem 1rem;
  }
  div {
    display: flex;
    flex-direction: column;
    margin: 6px;
    span {
      align-self: flex-end;
      margin-top: 8px;
      cursor: pointer;
    }
  }
  label {
    margin-bottom: 6px;
  }
  input {
    width: 400px;
    height: 36px;
    border-radius: 6px;
    padding-left: 10px;
    border: 1px solid #e7e7e7;
    @media (max-width: 1000px) {
      width: 300px;
    }
  }
  button {
    width: 200px;
    height: 40px;
    background: #fe8a00;
    border-radius: 6px;
    margin-top: 2rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
