<form [formGroup]="form" (ngSubmit)="login()">
  <div class="wrapper">
    <a [routerLink]="['/']">
      <img class="img1" src="/assets/metagroup.svg" alt="" />
      <!-- <h2 style="color: #fff">META GROUP</h2> -->
    </a>
    <div>
      <div>
        <label>{{ "email" | translate }}</label>
        <input type="text" formControlName="email" />
        <span *ngIf="form.get('email').hasError('invalid')">
          Invalid E-mail. Try again!
        </span>
      </div>
      <div style="margin-top: 20px; margin-bottom: 10px">
        <label>{{ "password" | translate }}</label>
        <input type="password" formControlName="password" />
        <span *ngIf="form.get('password').hasError('invalid')">
          Invalid password. Try again!
        </span>
        <!-- <span>დაგავიწყდა პაროლი?</span> -->
      </div>
    </div>
    <div>
      <button>
        {{ "Daxil olun" | translate }}
        <div style="margin-top: -2px" class="lds-ring" *ngIf="isLoading">
          <div></div>
        </div>
      </button>
      <span *ngIf="!form.valid">
        {{ err }}
      </span>
      <span *ngIf="errorResponse">
        {{ err }}
      </span>
      <button [routerLink]="['/signup']" style="background: #373c47">
        {{ "Qeydiyyat" | translate }}
      </button>
    </div>
    <span class="wpwp">
      <div class="wp">
        <a
          href="https://wa.me/995558672747"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="../../../assets/whatsapp.svg" alt=""
        /></a>
      </div>
      <div class="wp">
        <a
          href="https://www.facebook.com/Meta-Group-103977615502117/"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="../assets/Icon awesome-facebook.svg" alt=""
        /></a>
      </div>
      <div class="wp">
        <a
          href="https://www.instagram.com/metagroup_/"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="../assets/Icon awesome-instagram.svg" alt=""
        /></a>
      </div>
      <div class="wp">
        <a
          href="https://www.youtube.com/channel/UCCNCVP7BvdOhRx5r_py6lHw/videos"
          target="_blank"
          rel="noopener noreferrer"
          ><img style="height: 24px" src="../assets/yotube.svg" alt=""
        /></a>
      </div>
    </span>
  </div>
</form>
