<app-header></app-header>

<form [formGroup]="form" (ngSubmit)="login()">
  <div class="wrapper">
    <h3>ავტორიზაცია</h3>
    <div>
      <label>ელ-ფოსტა</label>
      <input type="text" formControlName="email" />
      <span *ngIf="form.get('email').hasError('invalid')">
        Invalid E-mail. Try again!
      </span>
    </div>
    <div>
      <label>პაროლი</label>
      <input type="password" formControlName="password" />
      <span *ngIf="form.get('password').hasError('invalid')">
        Invalid password. Try again!
      </span>
      <!-- <span>დაგავიწყდა პაროლი?</span> -->
    </div>
    <button>
      შესვლა
      <div style="margin-top: -2px" class="lds-ring" *ngIf="isLoading">
        <div></div>
      </div>
    </button>
    <span *ngIf="!form.valid">
      {{ err }}
    </span>
    <span *ngIf="errorResponse">
      {{ err }}
    </span>
  </div>
</form>
