header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  // box-shadow: rgba(180, 187, 194, 0.2) 0px 8px 24px;
  @media (max-width: 768px) {
    height: 60px;
  }
  .header-container {
    width: 94%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .sign-out {
      width: 100px;
      border-radius: 6px;
      height: 40px;
      background: #272727;
      color: white;
    }
  }
}

.dashboard-wrapper {
  margin-left: 220px;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 80%;

  @media (max-width: 1140px) {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr;
  }
  @media (max-width: 640px) {
    margin-left: 20px;
    width: 98%;
  }
}

.box {
  width: 96%;
  height: 180px;
  padding: 12px;
  background: #383c46;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // box-shadow: rgba(180, 187, 194, 0.2) 0px 8px 24px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.12s ease-out;
  &:hover {
    transform: scale(1.008);
  }
  p {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
  }
  b {
    font-size: 24px;
  }
}
