<app-sidebar></app-sidebar>

<div class="dashboard-wrapper">
  <div [routerLink]="['/storage']" class="box">
    <img src="/assets/1.svg" alt="" />
    <p>{{ "storage" | translate }}</p>
    <b style="color: #51a6b1">{{ count.first }}</b>
  </div>
  <div [routerLink]="['/ontheroad']" class="box">
    <img src="/assets/2.svg" alt="" />
    <p>{{ "onroad" | translate }}</p>
    <b style="color: #3c8eed">{{ count.second }}</b>
  </div>
  <div [routerLink]="['/arrived']" class="box">
    <img src="/assets/3.svg" alt="" />
    <p>{{ "delivered" | translate }}</p>
    <b style="color: #ffba51">{{ count.third }}</b>
  </div>
  <div [routerLink]="['/issued']" class="box">
    <img src="/assets/4.svg" alt="" />
    <p>{{ "done" | translate }}</p>
    <b style="color: #35d03b">{{ count.fourth }}</b>
  </div>
</div>

<div class="account-details-wrapper">
  <div *ngFor="let col of cols" class="row">
    <div class="left">
      <p>{{ col.header }}</p>
      <h4 *ngIf="col.field !== undefined" id="myText">{{ col.field }}</h4>
    </div>
    <div (click)="copy2(col.field)" class="copy">Copy</div>
  </div>
</div>
